*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  /* start debug
  border: 2px solid;
   end debug*/
  max-width: 1200px;
  margin:auto;
}

#intestazione{
  /* start debug*/
  background-color: yellow;
  height:200px;
  margin-bottom: 5px;
  /*end debug*/
  width: 100%;
}

.nav{
  /* start debug*/
  height: 50px;
  background-color: orange;
  margin-bottom: 5px;
  /*end debug*/
  width: 100%;

}

main{
  margin-bottom: 5px;
  width: 100%;
}

main::after{
  content: "";
  display: table;
  clear: both;
}

/* INIZIO SEZIONE SINISTRA*/
#sez_sx{
  /* start debug*/
  border: 2px solid red;
  /*end debug*/
  margin-bottom: 5px;
  width: 25%;
  float: left;
}

.section{
  height: 200px;
  background-color: green;
  /*end debug*/
  margin-bottom: 5px;
  width: 100%;
}

aside{
  /*start debug */
  height: 70px;
  background-color: blue;
  /*end debug*/
  margin-bottom: 5px;
  width: 100%
  float: left;
}

#sez_sx::after{
  content: "";
  display: table;
  clear: both;
}

/*FINE SEZIONE SINISTRA*/


/* INIZIO SEZIONE CENTRALE*/
#sez_central{
  /* start debug*/
  border: 2px solid purple;
  /*end debug*/
  margin: 0 15px;
  width: 40%;
  float: left;
}

.div_centrali{
  /*debug*/
  height: 300px;
  background-color: grey;
  margin-bottom: 5px;
  /*end debug*/
  width: 100%;
}

#sez_central::after{
  content: "";
  display: table;
  clear: both;
}
/*FINE ZONA CENTRALE*/

/*INIZIONE SEZ DESTRA*/
#sez_dx{
  /* start debug*/
  border: 2px solid blue;
  /*end debug*/
  width: 32%;
  float: left;
}

#sez_dx section{
  /*debug*/
  height: 150px;
  background-color: pink;
  margin-bottom: 5px;
  /*end debug*/
  width: 100%;
}

#sez_dx::after{
  content: "";
  display: table;
  clear: both;
}
/*FINE SEZ DESTRA*/
footer{
  /* start debug*/
  height: 100px;
  background-color: black;
  /*end debug*/
}
